# Division de los datos

En este notebook se van a dividir las imagenes almacenadas en la carpeta "all_imgs" en su correspondiente carpeta de entrenamiento, validación y test.

In [83]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [84]:
import pandas as pd

# Leer archivos CSV
train_csv = pd.read_csv('train.csv')
test_csv = pd.read_csv('test.csv')

# DataFrames vacíos
test_csv2 = pd.DataFrame({'idx_test': [], 'path_img': []})
train_csv2 = pd.DataFrame({'idx_train': [], 'path_img': [], 'label': []})
test2_csv2 = pd.DataFrame({'idx_val': [], 'path_img': [], 'label': []})
val_csv2 = pd.DataFrame({'idx_val': [], 'path_img': [], 'label': []})

# Calcular los índices para separar el dataframe
total_len = len(train_csv)
val_idx = int(total_len * 0.8)
test2_idx = int(total_len * 0.8)

# Dividir el dataframe en train, test2 y val
val_csv = train_csv.iloc[val_idx:]
test2_csv = train_csv.iloc[test2_idx:val_idx]
train_csv = train_csv.iloc[:test2_idx]

# Imprimir información
print("Longitud de train_csv original:", total_len)
print(f"Train: {len(train_csv)} ({len(train_csv)/total_len*100:.2f}%)")
print(f"Test2: {len(test2_csv)} ({len(test2_csv)/total_len*100:.2f}%)")
print(f"Val: {len(val_csv)} ({len(val_csv)/total_len*100:.2f}%)")

Longitud de train_csv original: 11189
Train: 8951 (80.00%)
Test2: 0 (0.00%)
Val: 2238 (20.00%)

In [85]:
test_csv

      idx_test                                           path_img
0            0  all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....
1            1  all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....
2            2  all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....
3            3  all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....
4            4  all_imgs/57f726bc-d141-42fb-88fa-60d554499277....
...        ...                                                ...
4792      4792  all_imgs/5ad5bee4-c18b-48b7-921a-f10ee9a17ad1....
4793      4793  all_imgs/99ec9e46-6bff-463c-af86-6b38aecb9a39....
4794      4794  all_imgs/9ab954c9-8f13-4270-9b66-e669169b1f4f....
4795      4795  all_imgs/f41894e0-bed2-4b47-a8bc-2bab477d8ee7....
4796      4796  all_imgs/d98e1059-0f69-460f-822b-f73e5a50804e....

[4797 rows x 2 columns]

In [86]:
train_csv

      idx_train                                           path_img  label
0             0  all_imgs/bc7696f4-1460-4d0b-a63d-f84b3be4da0f....      0
1             1  all_imgs/f8d50663-60d8-4da5-a8b8-79f954aec503....      2
2             2  all_imgs/51df0f29-758b-4741-ab74-a0ff8e21c044....      4
3             3  all_imgs/f61b81d3-3b79-4162-b4d6-4f1b39518c4c....      0
4             4  all_imgs/b21e0668-bd09-4794-9e90-da8ecffc4c1c....      0
...         ...                                                ...    ...
8946       8946  all_imgs/9ffc9aa3-f45d-4166-9e0d-4dd3c4fdecfa....      4
8947       8947  all_imgs/b46b48ff-4981-41ea-8698-5dafacf6a30d....      0
8948       8948  all_imgs/ee9d306b-ff80-49c4-9b33-23684acd814d....      5
8949       8949  all_imgs/6682f54e-07e8-406e-986c-b6d83a2ad064....      2
8950       8950  all_imgs/aacf8f8f-817a-42be-a4f1-f1b7e74b6c49....      0

[8951 rows x 3 columns]

In [87]:
val_csv

       idx_train                                           path_img  label
8951        8951  all_imgs/17b66ff9-521d-482f-bee2-8517aff550fd....      3
8952        8952  all_imgs/c37cb316-c707-495f-b777-20eb0f2cad3c....      2
8953        8953  all_imgs/2b17d78e-95ad-4f05-8b9c-6ce1405c48a8....      2
8954        8954  all_imgs/16085369-32b6-4bb0-b845-60a3072c602f....      7
8955        8955  all_imgs/148402fa-eb34-4949-96c3-d358ba67db4a....      5
...          ...                                                ...    ...
11184      11184  all_imgs/b834c3fa-4fb0-4e38-ae32-7fd4a4141fe6....      2
11185      11185  all_imgs/b93165ab-a87d-4ee1-8360-9b9728a3fc4b....      6
11186      11186  all_imgs/a130fcbb-2b90-4922-b1e2-4770fddf6b91....      5
11187      11187  all_imgs/bf402d68-ca0b-47f2-86f9-6e81d4bdbb38....      7
11188      11188  all_imgs/a609a4a1-bd42-4053-9de7-5e94a812425b....      0

[2238 rows x 3 columns]

In [88]:
for row in test_csv.iterrows():
    idx_test, path_img = row[1]
    progressbar_size = 50
    done = int((idx_test + 1) / len(test_csv) * progressbar_size)
    print('[', '#' * done + '.' * (progressbar_size - done), ']', end='\r')

    filename = os.path.basename(path_img)
    dirname  = os.path.join('test')
    if not os.path.exists(dirname):
        os.makedirs(dirname)
    new_path = os.path.join(dirname, filename)
    
    test_csv2.loc[len(test_csv2)] = { 'idx_test': int(idx_test), 'path_img': new_path }
    
    img = plt.imread(path_img)
    plt.imsave(new_path, img)

In [89]:
test_csv2

      idx_test                                        path_img
0            0  test\ec4c75ba-e064-4ed0-a7b1-3ed899424110.jpeg
1            1  test\114fb94d-3223-4d95-b6d1-f6a6ac206ea2.jpeg
2            2  test\a80e7e27-a25a-40aa-a65c-a29bfa172b3d.jpeg
3            3  test\7848d24e-207a-4236-9cd7-df78122d8787.jpeg
4            4  test\57f726bc-d141-42fb-88fa-60d554499277.jpeg
...        ...                                             ...
4792      4792  test\5ad5bee4-c18b-48b7-921a-f10ee9a17ad1.jpeg
4793      4793  test\99ec9e46-6bff-463c-af86-6b38aecb9a39.jpeg
4794      4794  test\9ab954c9-8f13-4270-9b66-e669169b1f4f.jpeg
4795      4795  test\f41894e0-bed2-4b47-a8bc-2bab477d8ee7.jpeg
4796      4796  test\d98e1059-0f69-460f-822b-f73e5a50804e.jpeg

[4797 rows x 2 columns]

In [90]:
for row in train_csv.iterrows():
    idx_train, path_img, label = row[1]
    progressbar_size = 50
    done = int((idx_train + 1) / len(train_csv) * progressbar_size)
    print('[', '#' * done + '.' * (progressbar_size - done), ']', end='\r')
    
    filename = os.path.basename(path_img)
    dirname  = os.path.join('data', 'train', str(label))
    if not os.path.exists(dirname):
        os.makedirs(dirname)
    new_path = os.path.join(dirname, filename)
    
    train_csv2.loc[len(train_csv2)] = { 'idx_train': int(idx_train), 'path_img': new_path, 'label': label }

    img = plt.imread(path_img)
    plt.imsave(new_path, img)

In [91]:
train_csv2

      idx_train                                           path_img  label
0             0  data\train\0\bc7696f4-1460-4d0b-a63d-f84b3be4d...      0
1             1  data\train\2\f8d50663-60d8-4da5-a8b8-79f954aec...      2
2             2  data\train\4\51df0f29-758b-4741-ab74-a0ff8e21c...      4
3             3  data\train\0\f61b81d3-3b79-4162-b4d6-4f1b39518...      0
4             4  data\train\0\b21e0668-bd09-4794-9e90-da8ecffc4...      0
...         ...                                                ...    ...
8946       8946  data\train\4\9ffc9aa3-f45d-4166-9e0d-4dd3c4fde...      4
8947       8947  data\train\0\b46b48ff-4981-41ea-8698-5dafacf6a...      0
8948       8948  data\train\5\ee9d306b-ff80-49c4-9b33-23684acd8...      5
8949       8949  data\train\2\6682f54e-07e8-406e-986c-b6d83a2ad...      2
8950       8950  data\train\0\aacf8f8f-817a-42be-a4f1-f1b7e74b6...      0

[8951 rows x 3 columns]

In [92]:
for row in val_csv.iterrows():
    idx_val, path_img, label = row[1]
    progressbar_size = 50
    done = int((idx_val + 1) / len(val_csv) * progressbar_size)
    print('[', '#' * done + '.' * (progressbar_size - done), ']', end='\r')
    
    filename = os.path.basename(path_img)
    dirname  = os.path.join('data', 'val', str(label))
    if not os.path.exists(dirname):
        os.makedirs(dirname)
    new_path = os.path.join(dirname, filename)
    
    val_csv2.loc[len(val_csv2)] = { 'idx_train': int(idx_val), 'path_img': new_path, 'label': label }

    img = plt.imread(path_img)
    plt.imsave(new_path, img)

In [93]:
for row in test2_csv.iterrows():
    idx_val, path_img, label = row[1]
    progressbar_size = 50
    done = int((idx_val + 1) / len(test2_csv) * progressbar_size)
    print('[', '#' * done + '.' * (progressbar_size - done), ']', end='\r')
    
    filename = os.path.basename(path_img)
    dirname  = os.path.join('data', 'test', str(label))
    if not os.path.exists(dirname):
        os.makedirs(dirname)
    new_path = os.path.join(dirname, filename)
    
    test2_csv2.loc[len(test2_csv2)] = { 'idx_train': int(idx_val), 'path_img': new_path, 'label': label }

    img = plt.imread(path_img)
    plt.imsave(new_path, img)

In [94]:
# guardamos los dataframes en archivos csv
test_csv2.to_csv('test2.csv', index=False)
train_csv2.to_csv('train2.csv', index=False)
val_csv2.to_csv('val2.csv', index=False)
test2_csv2.to_csv('test22.csv', index=False)